<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
	<base href="/">
	@Styles.Render("~/bundles/styles.css")

</head>
<body>
	@RenderBody()
	@RenderSection("Scripts", required: false)
</body>
</html>
